@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans";

:root {
	--body-font: 'Figtree', sans-serif;

	--p-shade-80: #050B12;
	--p-shade-50: #0e1b2d;
	--p-shade-30: #13263e;
	--p-shade-20: #162b47;
	--primary: #1b3659;
	--p-tint-40: #76869b;
	--p-tint-90: #e8ebee;
	--secondary: #EFA00B;
	--tertiary: #03B5AA;

	--global-border-radius: 4px;
	--global-transition: all .2s ease-in-out;
}

html {
	font-size: 16px;
}

body {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-body {
	font-family: var(--body-font);
	background-color: var(--primary);
	color: var(--p-tint-90);
}

/* Remove Button */

.remove-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 50%;
	padding: 0.5em;
	width: 50px;
	height: 50px;
	background-color: rgb(182, 43, 43);
	border: 2px solid rgb(128, 22, 22);
	color: #ffffff;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.remove-btn:hover {
	background-color: rgb(185, 70, 70);
	border: 2px solid rgb(128, 22, 22);
	color: #ffffff;
}

/* Remove BTN end */

figure {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	padding: 4rem 2rem;
}

.cities-container {
	flex: 1;
}

.app-body p {
	margin: 0 0 1.5rem;
}

.app-body h1 {
	font-size: 2.375rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

.app-body h2 {
	font-size: 1.75rem;
	line-height: 1.15;
	margin: 0 0 .5rem;
}

.app-body h3 {
	font-size: 1rem;
	line-height: 1.25;
	margin: 0;
}

.app-body small,
.app-body .form-msg,
.app-body .city__country {
	font-size: .75rem;
	line-height: 1.5;
}

.app-body a {
	color: var(--secondary);
	text-decoration: none;
	transition: var(--global-transition);
}

.app-body a:hover {
	color: var(--p-tint-90);
}

.app-body form {
	width: 100%;
	margin-bottom: 2rem;
	max-width: 30rem;
}

.app-body label {
	margin-bottom: .5rem;
	display: block;
}

.app-body input {
	border-radius: var(--global-border-radius);
	border: 0;
}

.current-location {
	text-align: center;
	color: #000;
	font: 3rem;
}

.app-body input[type="text"] {
	height: 2.75rem;
	background: var(--p-shade-30) url('../img/search.svg') .75rem center no-repeat;
	color: var(--p-tint-90);
	padding-left: 2.25rem;
	flex-grow: 1;
	outline: none;
	transition: var(--global-transition);
}

.app-body input[type="password"] {
	height: 2.75rem;
	background: var(--p-shade-30) url('../img/search.svg') .75rem center no-repeat;
	color: var(--p-tint-90);
	padding-left: 2.25rem;
	flex-grow: 1;
	outline: none;
	transition: var(--global-transition);
}

.app-body input::placeholder {
	color: var(--p-tint-40);
}

.app-body input:focus,
.app-body input:hover {
	background-color: var(--p-shade-50);
}

.app-body form button {
	height: 2.75rem;
	width: 2.75rem;
	background-color: var(--secondary);
	border: none;
	border-radius: var(--global-border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--global-transition);
	cursor: pointer;
}

.app-body form button:hover {
	background-color: var(--p-shade-80);
}

.app-body form button:active {
	background-color: var(--p-shade-50);
}

.app-body .form-msg {
	background-color: var(--p-shade-20);
	padding: .5rem 1rem;
	border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);
	width: 75%;
	margin-left: .75rem;
	transform: translate3d(0, -100%, 0);
	opacity: 0;
	transition: var(--global-transition);
	position: relative;
	z-index: -1;
}

.app-body .form-msg.visible {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.app-body .form-row {
	display: flex;
	gap: .5rem;
}

.app-body .notification {
	background-color: var(--p-shade-80);
	padding: .5rem 2rem;
	width: 100%;
}

.app-body .notification p {
	margin: 0;
}

.app-body .cities {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
	margin: 0 0 4rem;
	gap: 2rem;
}

.app-body .cities li {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	background-color: #fff;
	align-items: center;
	padding: 1.5rem;
	color: var(--p-shade-80);
	border-radius: var(--global-border-radius);
	box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.08);
	position: relative;
}

.app-body .city__conditions {
	color: var(--p-tint-40);
	margin-bottom: 1rem;
}

.app-body .city__country {
	color: #fff;
	background-color: var(--tertiary);
	border-radius: var(--global-border-radius);
	padding: .125rem .25rem;
	margin-left: .5rem;
}

@media screen and (min-width: 560px) {
	.cities {
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	}

	.cities li {
		flex-direction: column;
		text-align: center;
	}

	.city__conditions {
		margin-bottom: 1.5rem;
	}
}

@media screen and (min-width: 768px) {
	.app-body .notification {
		padding: .5rem 4rem;
	}

	.app-body.container {
		padding: 4rem;
	}
}

img.svg-colored {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(45deg) brightness(102%) contrast(104%);
}

#alarm-utility {
	height: 2.75rem;
	width: 100px;
	background-color: var(--secondary);
	border: none;
	border-radius: var(--global-border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--global-transition);
	cursor: pointer;
	color: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
}

/* Toast */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(182, 43, 43);
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}